.users img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
}
.users{
    width: 300px;
    padding: 10px;
  transition: 0.6s;
  background-color: rgba(201, 192, 192, 0.333);
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 4px 4px 7px gray;
  text-align: center;
}
.add-to-cart-btn{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.social-icons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}
.facebook-icon{
    margin-left: 40px;
}
.insta-icon{
    margin-right: 40px;
}
